.card__body {
    display: flex;
    flex-direction: column;

    &-inner {
        flex: 1;
    }
}

.button {

    border: none;
    margin: 1rem;

    &--add {
        background-color: transparent;
    }

    &--see,
    &--see:hover {
        color: SeaGreen;
    }

    &--see {
        transition: all .2s ease;

        &:hover {
            filter: brightness(1.25);
        }
    }
}


.button--add:hover>.icon {
    filter: brightness(1.25);
}

.icon--add {
    width: 1.5rem;
    height: auto;
    transition: all .2s ease;
    color: indianred;
}